{% extends 'base.html.twig' %}

{% block title %}Achat 
{% endblock %}

{% block body %}
<div class="row pt-5 mx-auto text-center
">
<div class="mx-auto text-center row">
{{form_start(form)}}
{{form_end(form)}}
  </div>
    </div>
{% endblock %}