{% extends 'base.html.twig' %}

{% block title %}Purchase{% endblock %}

{% block body %}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('purchases')}}">
      Mes achats
    </a>
  </div>
</nav>
{% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{message}}
        </div>
        {% endfor %}
<div class="w-50 mt-5 mx-auto text-center
">
    {% if app.user %}
{{form_start(form)}}
{{form_end(form)}}
{% endif %}
</div>
{% endblock %}
